body {
	font-family: 'Arya', sans-serif;
	}
p {
	font-size: 15px;
	font-family: 'Neuton', serif;
}
h1 {
	font-size:10em;
	color:#000;
	letter-spacing: -5px;
	text-align:center;
	text-shadow: 
      4px 4px 0px #fff, 
      7px 7px 0px rgba(156, 251, 192, 0.5);
    text-transform: uppercase;
    vertical-align: center;
}
h2 {
	font-size:1.5em;
	letter-spacing:10px;
	text-align:center;
	text-transform: uppercase;
}
h3 {
	font-size:5em;
	font-family: 'Neuton', serif;
}
h3 img {
	width:15px;
	margin-left:7px;
}
h4 {
	margin-left:6vw;
}
form {
	margin-top:3.5vh;
}
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: 'Neuton', serif;
    font-size: 20px;
    border:5px solid rgba(86, 255, 199, 255);
}
input[type=text] {
	padding:15px;
	width:35vw;
	float:left;
}
input[type=submit] {
	padding:20px;
	float:left;
	border:none;
	background:rgba(255, 196, 229, 255);
	font-weight:700;
	margin-left:1.5vw;
	margin-top:0px;
}
header {
	height:70vh;
	vertical-align: center;
	background:#FFE5EB;
	background-image:url('../donut.png');
	display: block;
	padding-top:30vh;
}
@keyframes betch {
    0%   {padding-top:35vh;}
    50%  {padding-top:37vh;}
    100% {padding-top:35vh;}
}
header img {
	width:50px;
	margin: 0 auto;
	display: block;
	position:relative;
	padding-top:35vh;
	animation: betch 2s ease-in-out infinite;
}
.centah {
	margin:0px auto;
}
#slayone {
	width:625px;
	padding-top:25vh;
}
#slaytwo {
	width:100%;
	padding-top:15vh;
}
#slaytwo h3 {
	margin-left:6vw;
}
#slaythree {
	width:625px;
	padding-top:15vh;
}
.colorblocks {
	height:100vh;
	display: block;
}
#section2 {
	background: rgba(86, 255, 199, 255);
}
#section2 p {
	margin-top:20px;
	font-size: 20px;
	line-height: 30px;
}
#section3 {
	background: linear-gradient(to bottom, rgba(86, 255, 199, 255), #fff);
	background-repeat: repeat;
	background-image:url('../dots.png');
	background-size: 15%;
}
#section3 img {
	display:block;
	float:left;
	width:25%;
	margin-left:6vw;
}
#section3 p {
	padding: 1vw 6vw 0 6vw;
	font-size: 20px;
	line-height: 30px;
}
@-webkit-keyframes yas {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}1
   	100%{background-position:0% 82%}
}
@-moz-keyframes yas {
   	0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes yas { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
footer {
	background: linear-gradient(304deg, #fff, rgba(255, 251, 80, 255));
	background-size: 300% 300%;
	-webkit-animation: yas 10s ease infinite;
	-moz-animation: yas 10s ease infinite;
	animation: yas 10s ease infinite;
}
footer p {
	padding: 1vw 6vw 0 0;
	font-size: 20px;
	line-height: 30px;
}
.underline {
    text-decoration: none;
    border-bottom: 7px solid white;
}​